@import "tailwindcss";
@theme{
    --color-utama:oklch(0.685 0.169 237.323);
    --breakpoint-2xl:1320px;
    --breakpoint-xs:300px;
    --font-inter: 'Inter',sans-serif;
    --container-xs:408px
}


@layer components{
    .hamburger-line{
        @apply block w-[30px] h-[2px] bg-white my-2 ease-in-out duration-300
    }
    .hamburger-active>span:nth-child(1){
       @apply rotate-45  -translate-x-1
    }
    .hamburger-active>span:nth-child(2){
        @apply scale-0
     }
    .hamburger-active>span:nth-child(3){
        @apply -rotate-45  -translate-x-1
     }
    .navbar-fixed{
        @apply fixed z-[99999] 
    }
    .contact-input{
        @apply w-full bg-slate-300  rounded-sm active:outline-none active:ring-1 active:border-utama active:ring-utama py-2
    }
}


@layer utilities{
    .ul-nav>li{
        @apply py-4 hover:bg-blue-500
    }
   
}